.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #c75858 !important;
}

::ng-deep mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    border    : none;
    outline   : none;
    background: transparent;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #c75858 !important;
}

.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
    color: #c75858 !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
    color: #c75858 !important;
}

.mat-step-icon-content {
    color: #F3ECE9;
}

.mat-step-header .mat-step-label.mat-step-label-active {
    color: #7960a5;
}

.mat-error {
    color: #c75858 !important;
}

.mat-sidenav-fixed {
    position: absolute !important;
    height  : 100% !important;
}

.mat-toolbar {
    z-index: 100 !important;
}

.mat-toolbar-single-row {
    height : 60px;
    padding: 0 !important;
}

// .mat-drawer {
//     background-color: #303030;
//     border-right    : 3px solid #1f1f1f;
// }

.mat-drawer-container {
    background-color: #F2F3F8;
}

// .mat-stepper-horizontal {
//     background-color: #303030;
// }

.mat-list-base .mat-list-item {
    font-size: 11pt !important;
}

.mat-card {
    border       : 0 !important;
    border-radius: 0 !important;
    box-shadow   : 1px 1px 2px rgba(91, 101, 130, .1);
}

.mat-card-header {
    color        : rgba(61, 68, 101, .8);
    border-bottom: 1px solid #f2f3f8;

    .mat-card-title {
        margin-bottom: 5px !important;
        font-size    : 16px !important;
    }
}

.mat-card-header-text {
    width: 100%;
}

.btn-primary {
    background-color: #AE905C !important;
    color           : #F3ECE9 !important;
    border-color    : #AE905C;

    &:hover {
        background-color: #8b7349 !important;
        color           : #F3ECE9 !important;
    }
}