$maggi-brand-teal: (50:#AE905C,
    100: #AE905C,
    200: #AE905C,
    300: #AE905C,
    400: #AE905C,
    500: #AE905C,
    600: #AE905C,
    700: #AE905C,
    800: #AE905C,
    900: #AE905C,
    contrast: (50: #263238,
        100: #263238,
        200: #263238,
        300: #263238,
        400: #263238,
        500: #263238,
        600: #263238,
        700: #263238,
        800: #263238,
        900: #263238,
    ));


$maggi-brand-gray: (50: #f7f7f7,
    100: #eeeeee,
    200: #e2e2e2,
    300: #d0d0d0,
    400: #ababab,
    500: #8a8a8a,
    600: #636363,
    700: #505050,
    800: #323232,
    900: #121212,
    contrast: (50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    ));

$maggi-brand-red: (50: #FFEBEE,
    100: #FFCDD2,
    200: #EF9A9A,
    300: #E57373,
    400: #EF5350,
    500: #F44336,
    600: #E53935,
    700: #D32F2F,
    800: #C62828,
    900: #660a0a,
    contrast: (50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    ));

$maggi-primary : mat-palette($maggi-brand-teal, 800);
$maggi-accent  : mat-palette($maggi-brand-teal, 200);
$maggi-warn    : mat-palette($maggi-brand-red, 300);