<mat-horizontal-stepper linear #stepper>
  <!-- Step 1 -->
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Paste your code</ng-template>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Code</mat-label>
        <textarea matInput style="height: 300px;" formControlName="firstCtrl"></textarea>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 2 -->
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Program Arguments</ng-template>

      <div class="row">
        <mat-label class="label">Source Connection String</mat-label>
        <mat-form-field appearance="outline" style="font-size: 12px;">
          <mat-label>Source</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. connection-string" required>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-label class="label">Sink Connection String</mat-label>
        <mat-form-field appearance="outline" style="font-size: 12px;">
          <mat-label>Sink</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. connection-string" required>
        </mat-form-field>
      </div>

      <mat-divider class="divider-with-text"></mat-divider>
      <span>Permissions</span>
      <mat-divider class="divider-with-text"></mat-divider>


      <div class="row" style="padding: 10px;">
        <div class="col-md-5">
          <mat-slide-toggle formControlName="allowInternet">Allow Internet Access</mat-slide-toggle>
        </div>

        <div class="col-md-5">
          <mat-form-field appearance="outline" style="font-size: 12px;">
            <mat-label>Quorum Size</mat-label>
            <input matInput type="number" formControlName="quorum" required>
          </mat-form-field>
        </div>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 3 -->
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Choose a Compute Profile</ng-template>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Compute Profiles</mat-card-title>
          <mat-card-subtitle>Task Execution Profile</mat-card-subtitle>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>
          <mat-radio-group>
            <mat-list>
              <mat-list-item>
                <mat-radio-button></mat-radio-button>
                <mat-icon mat-list-icon>dns</mat-icon>
                <div mat-line>C2</div>
                <div mat-line> 1 TB </div>
              </mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item>
                <mat-radio-button></mat-radio-button>
                <mat-icon mat-list-icon>dns</mat-icon>
                <div mat-line>M2</div>
                <div mat-line> 256 GB </div>
              </mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item>
                <mat-radio-button></mat-radio-button>
                <mat-icon mat-list-icon>dns</mat-icon>
                <div mat-line>T2</div>
                <div mat-line> 32 GB </div>
              </mat-list-item>
            </mat-list>
          </mat-radio-group>
        </mat-card-content>
      </mat-card>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 5 -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="executeCode()">Submit</button>
    </div>
    <div *ngIf="result">
      <mat-form-field appearance="outline" style="font-size: 12px; padding-top: 20px; width: 100%;">
        <mat-label>Output</mat-label>
        <textarea matInput rows="10" [value]="result" readonly></textarea>
      </mat-form-field>
    </div>
  </mat-step>
</mat-horizontal-stepper>