<div class="table-responsive">
  <table class="table ">
    <thead class="no-border-x">
      <tr>
        <th class="col-xs-1">#</th>
        <th class="col-xs-2">Job ID</th>
        <th class="col-xs-1">Status</th>
        <th class="actions" style="width:5%;"></th>
      </tr>
    </thead>
    <tbody class="no-border-x">
      <tr *ngFor="let job of jobs; let id = index;">
        <td>{{id}}</td>
        <td class="number">{{job.jobId}}</td>
        <td [ngClass]="{'text-success': job.jobStatus == 'SUCCESS', 'text-danger': job.jobStatus != 'SUCCESS'}">
          {{job.jobStatus | titlecase}}</td>
        <td class="actions"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>