<div class="table-responsive">
  <table class="table ">
    <thead class="no-border-x">
      <tr>
        <th class="col-xs-1">#</th>
        <th class="col-xs-2">Job ID</th>
        <th class="col-xs-1">Status</th>
        <th class="actions" style="width:5%;"></th>
      </tr>
    </thead>
    <tbody class="no-border-x">
      <tr>
        <td>1</td>
        <td class="number">3324-dsjhfjsdhf</td>
        <td class="text-success">Completed</td>
        <td class="actions"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
      </tr>
      <tr>
        <td>2</td>
        <td class="number">jksdhkfs-u748</td>
        <td class="text-success">Completed</td>
        <td class="actions"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
      </tr>
      <tr>
        <td>3</td>
        <td class="number">igkjkh-234</td>
        <td class="text-warning">Pending</td>
        <td class="actions"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
      </tr>
      <tr>
        <td>4</td>
        <td class="number">asd-hjh-34</td>
        <td class="text-warning">Pending</td>
        <td class="actions"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
      </tr>
      <tr>
        <td>5</td>
        <td class="number">qweqe-erer-dsd</td>
        <td class="text-danger">Cancelled</td>
        <td class="actions"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>