@import './assets/scss/angular-material-theming.scss';
@import './assets/scss/angular-material-stylings.scss';
@import './assets/css/typography.css';

html,
body {
    height     : 100%;
    margin     : 0;
    font-family: 'Poppins','Roboto',sans-serif;
    font-size  : 12px;
    overflow   : hidden;
}

a:active {
    color: #26A69A;
}

